<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>

    <div class="card mx-4 my-4" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag 'rumia2.gif', class: 'rumia_img' %>
          </div>
          <div class="col-md-6 mb-5">
            <div class="card-body">
              <h2 class="fw-semibold">Jorge Lira</h2>
              <h5 class="card-title">(La imagen es referencial)</h5>
              <p class="card-text">Desarrollador de aplicaciones Ruby en formación, haciendo empleo del framework Rails para construir y establecer un funcionamiento full-stack de sitios web.</p>
              <a href="#" class="btn text-white" style="background-color: #FF1493;">Soy un botoncito, pronto podré hacer cosas</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row mt-5 mb-5">
        <div class="col-xs-6 col-md-6">
            <%= image_tag 'telephone.gif', class: 'telephone_img mt-5' %>
        </div>
        <div class="col-xs-6 col-md-6">
            <h1 class="fw-semibold my-4">Contacto</h1>
            <p class="fw-semibold">Puedes contactarme directamente a mi correo:</p>
            <p class="fw-semibold mb-3">e-mail: jorge.liram9@gmail.com</p>

            <p> O puedes enviarme un mensaje, responderé a la brevedad.</p>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email:</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@address.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Mensaje:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <a href="#" class="btn text-white" style="background-color: #FF1493;">Enviar</a>
        </div>
      </div>

      

</body>
</html>