<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <!-- Card Desafíos Start -->
  
    <div class="card my-5" style="width: 18rem;">
        <%= image_tag 'iguanapage.png', class: 'iguana_img' %>
        <div class="card-body">
          <h5 class="card-title">Iguana Page</h5>
          <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS </p>
          <a href="#" class="btn btn-primary">Ver página</a>
        </div>
      </div>
  
      <!-- Card Desafíos End -->
</body>
</html>