<!DOCTYPE html5>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <!-- Card Start-->

    <div class="card mx-4 my-4" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <%= image_tag 'rumia2.gif', class: 'card_img' %>
          </div>
          <div class="col-md-8 mb-5">
            <div class="card-body">
              <h5 class="card-title">(La imagen es referencial)</h5>
              <p class="card-text">Desarrollador de aplicaciones Ruby en formación, haciendo empleo del framework Rails para establecer funcionamiento full-stack de sitios web.</p>
              <p class="card-text" >e-mail: jorge.liram9@gmail.com</p>
              <a href="#" class="btn btn-primary">Soy un botoncito, pronto podré hacer cosas</a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Card End -->
  
      <!-- Sign Start -->
  
      <div class="container my-4 py-4 ">
        <h2 class="fw-bold">Trabajos anteriores/Previous works</h2>
      </div>
  
      <!-- Sign End -->
  
      <!-- Card Desafíos Start -->
  
      <div class="card my-5" style="width: 18rem;">
        <%= image_tag 'iguanapage.png', class: 'iguana_img' %>
        <div class="card-body">
          <h5 class="card-title">Iguana Page</h5>
          <p class="card-text">Desafío consistente en recrear una página web empleando HTML y CSS </p>
        </div>
      </div>
  
      <!-- Card Desafíos End -->
</body>
</html>